@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    min-width: 1440px;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}

header {
    background: #ffe17f;
    height: 300px;
    margin-top: 40px;
}

.copter-image {
    position: absolute;
    width: 560px;
    height: 401px;
    left: 740px;
    top: 311px;

}

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
}

footer {
    height: 321px;
    background: #444444;
}

.authorization {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.navigation {}

.copter-position{
    margin-right: 551px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    justify-content: space-between
}

.header-catalog {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    margin-right: 24px;
}

.dilivery-box {
    display: flex;
    flex-wrap: wrap;
}

.dilivery-margin {
    margin-right: 47px;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    font-size: 0;
}

.search {
    border-style: solid;
    border-color: #000000;
    margin-right: 0px;
}

.find {
    border-style: solid;
    border-color: #000000;
    margin-left: 0px;
}

.services {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.store-pages {}

.slogan {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.description {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.enter-link::before {
    background-image: url('../images/account.svg');
}


.compare-link::before {
    background-image: url('../images/compare.svg');
}

.bascet-link::before {
    background-image: url('../images/bascet.svg');
}

.main-header-link::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.main-header-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    display: flex;
    align-items: center;
}

.close::before {
    background-image: url('../images/exit.svg');
}

.close-link::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.plus::before {
    background-image: url(../images/plus.svg);
}

.plus {
    margin-right: 293px;
}
ит
.plus-link::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.more {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.parameters {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #000000;

}

.parametr-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.explanation {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.buttons {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.button-pressed {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFE17F;
}

.footer-advantages-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-adress {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.phone-number {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.subscribe {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;

}

.up::before {
    background-image: url('../images/up.svg');
}

.down::before {
    background-image: url('../images/down.svg');
}

.up-down-link::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.sorting {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.filter {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.catalog {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.contact-number {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #444444;
}

.tc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.choice {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.products {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}

.load-more {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.main-catalog-item {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content:space-between;
}

.width-catalog{
    width: 160px;
}

.main-catalog-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-top: 15px;
    margin-right: 40px;
    position: relative;
    color: #000000;

}

.vr-link::before {
    background-image: url('../images/vr.svg');
}

.monopod-link::before {
    background-image: url('../images/monopod.svg');
}

.camera-link::before {
    background-image: url('../images/camera.svg');
}

.fitnes-link::before {
    background-image: url('../images/fitnes.svg');
}

.time-link::before {
    background-image: url('../images/time.svg');
}

.copter-link::before {
    background-image: url('../images/copter.svg');
}

.main-catalog-link::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
    background-color: #ffe17f;
    background-repeat: no-repeat;
    background-position: center;
}

.cargo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.left::before {
    background-image: url('../images/left.svg');
}

.right::before {
    background-image: url('../images/right.svg');
}

.slider-link::before {
    content: "";
    display: block;
    width: 20px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.ring-white::before {
    background-image: url('../images/ring-white.svg');
}

.ring-black::before {
    background-image: url('../images/ring-black.svg');
}

.ring-link::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.car::before {
    background-image: url('../images/cargo.svg');
}

.car-link::before {
    content: "";
    display: block;
    width: 125px;
    height: 100px;
    background-color: #ffe17f;
    background-repeat: no-repeat;
    background-position: center;
}


.telegram-link::before {
    background-image: url('../images/telegram.svg');
}

.youtube-link::before {
    background-image: url('../images/youtube.svg');
}

.twitter-link::before {
    background-image: url('../images/twitter.svg');
}

.main-social-link::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

.check::before {
    background-image: url('../images/check.svg');
}

.check-link::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

html {
    height: 100%;
}

.credit-image::before {
    background-image: url('../images/credit.svg');
}

.service-image::before {
    background-image: url('../images/service.svg');
}

.logist-image::before {
    background-image: url('../images/logist.svg');
}

.image-link::before {
    content: "";
    display: block;
    width: 175px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.popover {
    display: none;
}

.rings {
    display: flex;
    flex-direction: row;
}

.pagination {
    display: flex;
    flex-direction: row;
}

.page-number {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    opacity: 0.3;
    margin: 15px;
}

.rare-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 1160px;
    height: 100px;
    margin-top: 70px;
    margin-left: 140px;
    margin-right: 140px;
    background: #F0F0F0;
}

.i-image::before {
    background-image: url('../images/I-image.svg');
}

.i-image-link::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: rgba(220, 220, 220, 0.5);
    background-repeat: no-repeat;
    background-position: center;
}

.choise-of-services {
    width: 1440px;
    height: 391px;
    margin: 0% auto;
    left: 0px;
    top: 102px;
    background: #F0F0F0;
}

.information {
    left: 0%;
    right: 55.17%;
    top: 0%;
    bottom: 9.54%;
    width: 520px;
    height: 493px;
}

.address {
    left: 54.14%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 532px;
    height: 545px;
}

.mailing {
    margin: 0% auto;
    background: #f0f0f0;
}

.shop-information {
    display: flex;
    width: 1160px;
    height: 545px;
    margin: 0% auto;
}

.footer-background{
    width: 1440px;
    margin: 0% auto;
}


.ssa{
    display: grid;

}